/****************************       内容主题                 ********************************/
*{font-family: 黑体, STHeiti, dinbold, Arial, Helvetica, sans-serif;}
.cc-main{width:100%;overflow: hidden;}
.cc-main .article{width:1100px;margin: 30px auto 80px;}
.cc-main h1{font-weight: 100;font-size: 40px;text-transform: none;padding:40px 0;}
.cc-main .text{padding-top: 26px;}
.cc-main .text p{color: #1a1a1a;font-size: 16px;line-height: 26px;}
.cc-main .text p a{color: #E2231A;}
.cc-main .text .title{color: #1a1a1a;font-size: 16px;line-height: 26px;font-weight: bold;}

























