/****************************       内容主题                 ********************************/

.cc-main{width:100%;overflow: hidden;background:black;}
.cc-main ul{width:100%;}
.animate{visibility: hidden;opacity: 0;transform-origin: 50% 50% 0px;transform-style: flat;transform: translate(-50%, 0%) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}
.cc-main ul li{float:left;text-align: center;width:33.3%;height:33.3%;position: relative;cursor: pointer;z-index: 1;overflow: hidden;}
.cc-main ul li>img{width:100%;}
.cc-main ul li:last-child(2){height:300px;}
.cc-main ul li>div{position:absolute;top:0;left:0;width:100%;height:100%;overflow: hidden;}
.cc-main ul li>.bj{background:rgba(54,56,57,0.85);opacity: 0;z-index: 2;}
.cc-main ul li>.cont>div{transition:all .5s .5s;}
.cc-main ul li>.cont>.name{transform: translateX(200px);font-size: 28px;line-height: 30px;color: #ffffff;font-weight: 100;display: block;text-align: center;clear: both;padding: 30% 10px 5px 10px;background-color: rgba(255,255,255,0);position: relative;z-index: 3;opacity: 0;}
.cc-main ul li>.cont>.place{transform: translateX(-200px);font-size: 18px;line-height: 22px;color: #ffffff;font-weight: 100;display: block;text-align: center;clear: both;padding: 15px 10px 5px 10px;background-color: rgba(255,255,255,0);position: relative;z-index: 3;opacity: 0;}
.cc-main ul li>.cont>.seat{transform: translateX(-200px);font-size: 18px;line-height: 22px;color: #ffffff;font-weight: 100;display: block;text-align: center;clear: both;padding: 15px 10px 15px 10px;background-color: rgba(255,255,255,0);position: relative;z-index: 3;opacity: 0;transition:all .5s .6s;}
.cc-main ul li>.cont>.pic{width:27px;height:27px;margin:0 auto;border-radius:50%;display: block;clear: both;position: relative;z-index: 3;transform:scale(1.3);opacity: 0;}
.cc-main ul li>.cont>.pic>img{border-radius:50%;width:100%;z-index: 3;}

.cc-main ul li:hover .bj{opacity: 1;}
.cc-main ul li:hover .cont>.name{opacity: 1;transform: translateX(0);}
.cc-main ul li:hover .cont>.place{opacity: 1;transform: translateX(0);}
.cc-main ul li:hover .cont>.seat{opacity: 1;transform: translateX(0);}
.cc-main ul li:hover .cont>.pic{opacity: 1;transform: translateX(0);}

.cc-main .box{width:100%;overflow:hidden;background-color: rgb(242, 242, 243);display: none;}
.cc-main .box .person{width:1100px;margin:0 auto;padding:50px 0;position: relative;display: none;}
.cc-main .box .person>img{position:absolute;right:-120px;top:0;width:50px;height:50px;transition: all .4s;}
.cc-main .box .person .img{width:25%;padding:0 50px 0 15px;float:left;}
.cc-main .box .person .img img{width:100%;}
.cc-main .box .person .text{float:left;width:65%;} 
.cc-main .box .person .text h2{font-size: 34px;font-weight: normal;font-family: 'dinbold', Arial, Helvetica, sans-serif;}   
.cc-main .box .person .text p{font-family: 'dinbold', Arial, Helvetica, sans-serif;font-size: 20px;line-height: 28px;color: #969696;margin: 10px 0 30px 0;text-transform: none;}
.cc-main .box .person .text .txt{font-size: 15px;line-height: 24px;}   
.cc-main .box .person .clear{display: block;clear: both;}













