.left {
	float: left;
	display: inline;
}
.right {
	float: right;
	display: inline;
}
.clear:after {
	clear: both;
	content: '';
	display: block;
}
.clear {
	zoom: 1;
}
.cc-header>ul>li:nth-child(6)>a{
	border-bottom: 3px solid #c82026;
}
.cc-header div>ul>li:first-child a span{border-bottom: 3px solid #c82026;}
.crl_content{
	width: 1026px;
	height: auto;
	margin:35px 205px 35px 124px;
}
.crl_content h1{
	font-size: 37px;
    color: #303030;
}
.crl_content h6{
	color: #1a1a1a;
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
}
.crl_cont{
   width: 100%;
   height: 204px;
   margin: 50px 0 100px 0;
}
.crl_ct_l{
	width: 720px;
	height: 100%;
}
.crl_ct_l h2{
	cursor: pointer;
	color: #E2231A;
    font-size: 24px;
    line-height: 28px;
}
.crl_ct_l h2:hover{
	text-decoration: underline;
}
.crl_ct_l p{
	font-size: 14px;
    line-height: 20px;
    color: #1A1A1A;
    margin-top: 31px;
}
.crl_ct_l h3{
	color: #959595;
    font-size: 18px;
    margin-top: 3px;
}
.crl_ct_r{
	width: 200px;
	height: 100%;
	margin-left: 50px;
	padding-left: 50px;
	border-left: 2px solid #e2231a;
}
.crl_ct_r span{
	font-size: 40px;
    line-height: 40px;
    color: #1a1a1a;
}
.du{
	display: block;
	width: 104px;
	height: 36px;
	background: #e2231a;
	margin: 4px;
	
	text-align: center;
	line-height: 36px !important;
	color: #fff !important;
	font-size: 16px !important;
}
.crl_ct_r a{
	display: block;
	width: 114px;
	margin-top: 25px;
	border: 1px solid #E2231A;
}
.pagination{
	width: 100%;
	height: 45px;
}
.pagination ul{
	width: 240px;
	height: 38px;
	margin:0 460px;
}
.pagination ul li{
	width: 38px;
	height: 38px;
	margin-bottom: 11px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	color: #959595;
	font-size: 18px;
	cursor: pointer;
}
.pagination ul li a{
	color: #959595;
	display: block;
}
.pagination ul li:nth-child(2){
	background: #f1f1f2;
}

.pagination ul li:hover{
	background: #e3e3e3;
	color: #303030;
}
